body {

    background-color: rgb(217, 236, 243);
    }
    header{
        background-color:rgb(217, 236, 243);
    }
     footer{
          background-color:rgb(217, 236, 243);
    }
     img{
         width:200px;
         height:300px;
    }