body {
font-family: Arial, Helvetica, sans-serif;
background-color: #f7f9fb;
margin: 0;
color: #333;
}


header {
background-color: #f2e9e4;
text-align: center;
padding: 20px;
}


header h1 {
margin: 0;
color: #6d597a;
}


nav a {
margin: 0 10px;
text-decoration: none;
color: #355070;
font-weight: bold;
}


nav a:hover {
color: #b56576;
}
main {
max-width: 900px;
margin: auto;
padding: 20px;
}


section {
background-color: #ffffff;
margin-bottom: 25px;
padding: 20px;
border-radius: 10px;
}


section h2 {
color: #6d597a;
}


article {
margin-top: 15px;
padding: 15px;
background-color: #f8f4f9;
border-radius: 8px;
}


img {max-width: 100%;
border-radius: 10px;
margin-top: 10px;
}


ul {
padding-left: 20px;
}

footer {
background-color: #e6dce4;
text-align: center;
padding: 15px;
font-size: 14px;
color: #555;
}
